{% extends 'base.html' %}
{% block content %}
{% load static %}

			<main class="content">
				<div class="container-fluid p-0">
					<div class="row">
						<div class="col-xl-12">
							<div class="card">
								<div class="row" style="margin-top:1%;">
								<div class="col-10 page-header">
								</div>
								<div class="col-2">
								<button type="button" style="margin-left:30px;" class="btn btn-icon  btn-info-light" data-bs-target="#modaleditabout{{ i.id }}" data-bs-toggle="modal">Mahsulot qoshish</button>
									<div class="modal fade" id="modaleditabout{{ i.id }}">
										<div class="col-5 modal-dialog" role="document">
											<div class="modal-content modal-content-demo">
												<div class="row">
													<div class="col-xl-12">
														<div class="card">
															<div class="card-body">
																<div class="row row-sm">
																	<div class="col-md-12 col-xl-12">
																		<h1>Mahsulotlar</h1>
																		<div class="card">
																			<div class="card-body">
																				<form action="{% url 'create_about_product_url' %}" method="post" enctype="multipart/form-data">
																					{% csrf_token %}
																					<div class="form">
																						<div class="form-group">
																							<label class="form-label">Matn uz</label>
																							<textarea class="form-control" name="text_uz" rows="6" required></textarea>
																						</div>
																						<div class="form-group">
																							<label class="form-label">Matn ru</label>
																							<textarea class="form-control" name="text_ru" rows="6" required></textarea>
																						</div>
																						<div class="form-group">
																							<input type="file" class="form-control" name="photo" placeholder="select photo" required>
																						</div>
																						<div class="modal-footer" style="margin-top:10px;">
																							<div class="form">
																								<button class="btn btn-secondary" data-bs-dismiss="modal">Bekorkilish</button>
																							</div>
																							<div class="form">
																								<button type="submit" class="btn btn-primary">O`zgarishni saqlash</button>
																							</div>
																						</div>
																					</div>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								</div>
								<div class="card-header">
									<div class="row">
										{% for i in about_product %}
										<div class="col-10" style="margin-left:250px;">
											<div class="card mb-3">
											  <div class="row g-0">
												  <div class="col-md-4"style="margin-top:20px;">
													  <div class="card-body">
														<p class="h4">{{ i.text_uz }}</p>
													  </div>
												  </div>
												  <div class="col-md-4" style="margin-top:20px;">
													  <div class="card-body">
														<p class="h4">{{ i.text_ru }}</p>
													  </div>
												  </div>
												  <div class="col-md-4">
													  <img src="{{ i.img.url }}" style="margin-top:40px;" width="300" height="600" class="img-fluid rounded-start" alt="...">
												  </div>
											  </div>
												<div class="row mb-2 ml-2">
													<div class="row" style="margin-left:1px;" >
														<div class="text-center d-flex">
														<button type="button" class="btn btn-icon  btn-info-light me-1 bradius" data-bs-target="#modaleditabout{{ i.id }}" data-bs-toggle="modal"><i class="fe fe-edit"></i></button>
															<div class="modal fade" id="modaleditabout{{ i.id }}">
																		<div class="col-8 modal-dialog" role="document">
																			<div class="modal-content modal-content-demo">
																				<div class="row">
																					<div class="col-xl-12">
																						<div class="card">
																							<div class="card-body">
																								<div class="row row-sm">
																									<div class="col-xl-5 col-lg-12 col-md-12">
																										<div class="card-body">
																											<h1>Mahsulotni o`zgartirish</h1>
																										</div>
																										<div class="row">
																											<div class="card center">
																											<div class="col-xl-12" style="padding:5%;">
																												<img src="{{ i.img.url }}" alt="img" width="600" height="1000" class="img-fluid mx-auto d-block">
																											</div>
																											</div>
																										</div>
																									</div>
																									<div class="col-md-12 col-xl-7">
																										<div class="card">
																											<div class="card-body">
																												<form action="{% url 'change_about_product_url' i.id %}" method="post" enctype="multipart/form-data">
																													{% csrf_token %}
																													<div class="">
																														<div class="form-group">
																															<label class="form-label">Matn uz</label>
																															<textarea class="form-control" name="text_uz" rows="6" required>{{i.text_uz}}</textarea>
																														</div>
																														<div class="form-group">
																															<label class="form-label">Matn ru</label>
																															<textarea class="form-control" name="text_ru" rows="6" required>{{i.text_ru}}</textarea>
																														</div>
																														<div class="form-group">
																															<input type="file" class="form-control" name="photo" placeholder="select photo">
																														</div>
																														<div class="modal-footer" style="margin-top:10px;">
																															<div class="form">
																																<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bekorkilish</button>
																															</div>
																															<div class="form">
																																<button type="submit" class="btn btn-primary">O`zgarishni saqlash</button>
																															</div>
																														</div>
																													</div>
																												</form>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
                        														</div>
																			</div>
																		</div>
													</div>
														<button type="button" class="btn btn-icon  btn-danger-light me-1 bradius" data-bs-target="#modaldemodelete{{ i.id }}" data-bs-toggle="modal"><i class="fe fe-trash"></i></button>
															<div class="modal fade" id="modaldemodelete{{ i.id }}">
																		<div class="modal-dialog" style="margin-top:10%;" role="document">
																			<div class="modal-content modal-content-demo">
																				<div class="form">
																					<div class="modal-header">
																						<h5 style="padding-top:18px; margin-left:50px;">Malumotni o`chiribyuborishga aminmiszi</h5>
																					</div>
																					<form action="{% url 'delete_about_product_url' i.id %}" method="post">
																						{% csrf_token %}
																							<div class="modal-footer">
																							<button type="button" class="btn btn-success" data-bs-dismiss="modal">Yoq</button>
																							<button type="submit" class="btn btn-danger">Ha</button>
																							</div>
																					</form>
																				</div>
																			</div>
																		</div>
													</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
{% endblock content %}