{% extends 'base.html' %}
{% block content %}
{% load static %}
            <!--app-content open-->
            <div class="main-content app-content mt-0">
                <div class="side-app">

                    <!-- CONTAINER -->
                    <div style="margin-top:2%;" class="main-container container-fluid">
                        				<div class="col-12">
											{% if banner %}
											<div class="card mb-3">
											  <div class="row g-0">
												  <div class="col-md-3" style="margin-top:10%;">
													  <div class="card-body text-center">
														  <p class="h6">{{ banner.quality_uz }}</p>
														<h5 class="h5">{{ banner.title_uz }}</h5>
													  </div>
														   <div class="col-sm-6 col-md-6 col-xl-3">
															   <div class="row" style="margin-top:150px;margin-left:1px;margin-bottom:2px;">
																	<div class="text-center d-flex">
																	<button type="button" class="btn btn-icon  btn-info-light me-1 bradius" data-bs-target="#modaldemo{{ banner.id }}" data-bs-toggle="modal"><i class="fe fe-edit"></i></button>
																		<div class="modal fade" id="modaldemo{{ banner.id }}">
																		<div class="modal-dialog" style="margin-top:10%;" role="document">
																			<div class="modal-content modal-content-demo">
																				<div class="modal-header">
																					<h6 class="modal-title">Bannerni Ozgartirish</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
																				</div>
																				<div class="form" style="padding:10px;">
																					<form action="{% url 'change_banner_url' banner.id %}" method="post" enctype="multipart/form-data" class="form-group">
																						{% csrf_token %}
																						<div class=" row mb-4">
																							<label class="col-md-3 form-label">Sarlavha uz</label>
																							<div class="col-md-9">
																								<input type="text" class="form-control" name="title_uz" value="{{ banner.title_uz }}" placeholder="sarlavhani o'zbekcha kiriting" required>
																							</div>
																						</div>
																						<div class="row mb-4">
																							<label class="col-md-3 form-label" for="example-email">Sarlavha ru</label>
																							<div class="col-md-9">
																								<input type="text" value="{{ banner.title_ru }}" name="title_ru" class="form-control" placeholder="sarlavhani rus tilida kiriting" required>
																							</div>
																						</div>
																						<div class=" row mb-4">
																							<label class="col-md-3 form-label">Sifat uz</label>
																							<div class="col-md-9">
																								<input type="text" class="form-control" name="quality_uz" value="{{ banner.quality_uz }}" placeholder="sifatni o'zbek tilida kiriting" required>
																							</div>
																						</div>
																						<div class=" row mb-4">
																							<label class="col-md-3 form-label">Sifat ru</label>
																							<div class="col-md-9">
																								<input type="text" class="form-control" name="quality_ru" value="{{ banner.quality_ru }}" placeholder="rus tilida sifatni kiriting" required>
																							</div>
																						</div>
																						<div class=" row mb-4">
																							<label class="col-md-3 form-label">Photo</label>
																							<div class="col-md-9">
																								<input type="file" class="form-control" name="photo" placeholder="select photo">
																							</div>
																						</div>
																						<div class="modal-footer">
																							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
																							<button type="submit" class="btn btn-primary">O'zgarishni saqlash</button>
																						</div>
																					</form>
																				</div>
																			</div>
																		</div>
													</div>
																	<button type="button" class="btn btn-icon  btn-danger-light me-1 bradius" data-bs-target="#modaldemo-1" data-bs-toggle="modal"><i class="fe fe-trash"></i></button>
																		<div class="modal fade" id="modaldemo-1">
																		<div class="modal-dialog" style="margin-top:10%;" role="document">
																			<div class="modal-content modal-content-demo">
																				<div class="form">
																					<div class="modal-header">
																						<h5 style="padding-top:18px; margin-left:50px;">O`chirib yuborishga aminmisiz</h5>
																					</div>
																					<form action="{% url 'delete_banner_url' banner.id %}" method="post">
																						{% csrf_token %}
																							<div class="modal-footer">
																							<button type="button" class="btn btn-success" data-bs-dismiss="modal">Yoq</button>
																							<button type="submit" class="btn btn-danger">Ha</button>
																							</div>
																					</form>
																				</div>
																			</div>
																		</div>
													</div>
																	</div>
															   </div>
												  			</div>
															<div class="col-sm-3 col-md-3 col-xl-3">

																	  </div>
																  </div>
																  <div class="col-md-3" style="margin-top:10%;">
																	  <div class="card-body text-center">
																		  <p class="h6">{{ banner.quality_ru }}</p>
																		<h5 class="h5">{{ banner.title_ru }}</h5>
																	  </div>
																  </div>
																  <div class="col-md-6">
																	  <img src="{{ banner.photo.url }}" style="border-radius:5px;" width="600" height="400" alt="...">
																  </div>
												 			</div>
											  </div>
											{% else %}
											<button type="button" class="btn btn-success  btn-info-success" data-bs-target="#modaldemo1" data-bs-toggle="modal"> Banner Yaratish</button>
													<div class="modal fade" id="modaldemo1">
																		<div class="modal-dialog" style="margin-top:10%;" role="document">
																			<div class="modal-content modal-content-demo">
																				<div class="modal-header">
																					<h6 class="modal-title"> Banner Yaratish</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
																				</div>
																				<div class="form" style="padding:10px;">
																					<form action="{% url 'create_banner_url' %}" method="post" enctype="multipart/form-data" class="form-group">
																						{% csrf_token %}
																						<div class=" row mb-4">
																							<label class="col-md-3 form-label">Sarlavha uz</label>
																							<div class="col-md-9">
																								<input type="text" class="form-control" name="title_uz" placeholder="sarlavhani o'zbekcha kiriting" required>
																							</div>
																						</div>
																						<div class="row mb-4">
																							<label class="col-md-3 form-label" for="example-email">Sarlavha ru</label>
																							<div class="col-md-9">
																								<input type="text" name="title_ru" class="form-control" placeholder="sarlavhani rus tilida kiriting" required>
																							</div>
																						</div>
																						<div class=" row mb-4">
																							<label class="col-md-3 form-label">Sifat uz</label>
																							<div class="col-md-9">
																								<input type="text" class="form-control" name="quality_uz" placeholder=" o`zbek tilida sifatni kiriting" required>
																							</div>
																						</div>
																						<div class=" row mb-4">
																							<label class="col-md-3 form-label">Sifat ru</label>
																							<div class="col-md-9">
																								<input type="text" class="form-control" name="quality_ru" placeholder="rus tilida sifatni kiriting" required>
																							</div>
																						</div>
																						<div class=" row mb-4">
																							<label class="col-md-3 form-label">Photo</label>
																							<div class="col-md-9">
																								<input type="file" class="form-control" name="photo" placeholder="select photo" required>
																							</div>
																						</div>
																						<div class="modal-footer">
																							<button class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
																							<button type="submit" class="btn btn-primary">Saqlash</button>
																						</div>
																					</form>
																				</div>
																			</div>
																		</div>
													</div>
											{% endif %}
										</div>
                    </div>
                </div>
            </div>



{% endblock content %}