{% extends 'base.html' %}
{% block content %}

        <!--app-content open-->
<div class="main-content app-content mt-0" xmlns="http://www.w3.org/1999/html">
                <div class="side-app">
                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">
                        <!-- ROW-1 -->
                        <div class="row" style="margin-top:2%;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-4">
                                        <div class="card overflow-hidden">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="mt-2">
                                                        <h6 class="">Kunlik Buyurtmalar Soni</h6>
                                                        <h2 class="mb-0 number-font">{{ day }}</h2>
                                                    </div>
                                                    <div class="ms-auto">
                                                        <div class="chart-wrapper mt-1">
                                                            <canvas id="saleschart"
                                                                class="h-8 w-9 chart-dropshadow"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="text-muted fs-12">Jami </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-4">
                                        <div class="card overflow-hidden">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="mt-2">
                                                        <h6 class="">Monthly Total Orders</h6>
                                                        <h2 class="mb-0 number-font">{{ month }}</h2>
                                                    </div>
                                                    <div class="ms-auto">
                                                        <div class="chart-wrapper mt-1">
                                                            <canvas id="leadschart"
                                                                class="h-8 w-9 chart-dropshadow"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="text-muted fs-12">

                                                    Total</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-4">
                                        <div class="card overflow-hidden">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="mt-2">
                                                        <h6 class="">Annual Total Orders</h6>
                                                        <h2 class="mb-0 number-font">{{ count }}</h2>
                                                    </div>
                                                    <div class="ms-auto">
                                                        <div class="chart-wrapper mt-1">
                                                            <canvas id="profitchart"
                                                                class="h-8 w-9 chart-dropshadow"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="text-muted fs-12">
                                                    Total</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW-1 END -->

                        <!-- ROW-2 -->
                        <div class="row">
                            <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Orders Analytics</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex mx-auto text-center justify-content-center mb-4">

                                        </div>
                                           <div class="chartjs-wrapper-demo">
                                                  <canvas id="myChart" class="chart-dropshadow"></canvas>
                                           </div>
                                            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                                <script>
                                                    const ctx = document.getElementById('myChart');

                                                    new Chart(ctx, {
                                                    type: 'line',
                                                    data: {
                                                      labels: [{% for i in qs %} "{{ i.day }} {{ i.mon }}", {% endfor %}],
                                                      datasets: [{
                                                      label: '# of Votes',
                                                      fill: true,
                                                      tension: 0.3,
                                                      data: [{% for x in qs %} {{ x.n }}, {% endfor %}],
                                                      borderWidth: 1
                                                      }]
                                                    },
                                                    options: {
                                                      scales: {
                                                      y: {
                                                        beginAtZero: true
                                                      }
                                                      }
                                                    }
                                                    });
                                                </script>

                                    </div>
                                </div>
                            </div>
                            <!-- COL END -->
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="card overflow-hidden" style="height:95%;">
                                    <div class="card-body pb-0 bg-recentorder">
                                        <h3 class="card-title text-white text-center">Daily high and low orders for the last month</h3>
                                        <div class="chartjs-wrapper-demo">
                                            <canvas id="recentorders" class="chart-dropshadow"></canvas>
                                        </div>
                                    </div>
                                    <div id="flotback-chart" class="flot-background"></div>
                                    <div class="card-body">
                                        <div class="d-flex mb-4 mt-3">
                                            <div
                                                class="avatar avatar-md bg-secondary-transparent text-secondary bradius me-3">
                                                <i class="fe fe-trending-up"></i>
                                            </div>
                                            <div class="">
                                                <h6 class="mb-1 fw-semibold"></h6>
                                                <p class="fw-normal fs-20"> <span class="text-success">{{ m_num }}</span>  Added</p>
                                            </div>
                                            <div class=" ms-auto my-auto">
                                                <p class="fw-bold fs-15">{{ i.day }} {{ i.mon }}</p>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="avatar  avatar-md bg-pink-transparent text-pink bradius me-3">
                                                <i class="fe fe-trending-down"></i>
                                            </div>
                                            <div class="">
                                                <h6 class="mb-1 fw-semibold"></h6>

                                            </div>
                                            <p class="fw-normal fs-20"> <span class="text-success">{{ l_num }}</span>  Added</p>
                                            <div class=" ms-auto my-auto">
                                                <p class="fw-bold fs-15 mb-0">{{ i.day }} {{ i.mon }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Calender</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="external-events">
                                                </div>
                                                <div id='calendar2'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- COL END -->
                        </div>
                    </div>
                    <!-- CONTAINER END -->
                </div>
            </div>

        </div>


{% endblock %}

