{% extends 'base.html'%}
{% block content %}
       <!-- Row -->
      <div class="main-content app-content mt-0">
            <div class="main-container container-fluid">
                <div class="card col-xl-12 col-sm-12 col-lg-12 col-md-12">
                    <div class="card-header row">
                        <div class="col-xl-4 col-sm-12 col-lg-4 col-md-4">
                            <h3 class="card-title">Klient Jadvali</h3>
                        </div>
                        <div class="col-xl-8 col-sm-12 col-lg-8 col-md-8" align="right">
                           <a class="btn btn-success" href="{% url 'export_write_xls' %}"><i class="fa fa-file-excel-o"></i> Export Exsel</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-8 col-sm-12 col-lg-8 col-md-8">
                            <p>Bu yerda barcha clientlar royhati</p>
                            </div>
                            <div class="col-xl-4 col-sm-12 col-lg-4 col-md-4" align="right">
                            <form class="form d-flex mb-5" action="{% url 'search_order_url' %}">
                                {% csrf_token %}
                                <input type="text" class="form-control" name="order_search" placeholder="Qidiruv..." required>
                                <button type="submit" class="btn px-0 pt-2"><i class="fe fe-search"></i></button>
                            </form>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered text-nowrap key-buttons border-bottom">
                                <thead>
                                    <tr class="text-center">
                                        <th>ID</th>
                                        <th>Ism</th>
                                        <th>Telefon</th>
                                        <th>Sana</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in orders %}
                                    <tr class="text-center">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ i.name }}</td>
                                        <td>{{ i.phone }}</td>
                                        <td>{{ i.created }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if orders.paginator.num_pages > 1 %}
								<div class="card-footer d-flex justify-content-end">
									<nav aria-label="Page navigation">
										<ul class="pagination">
											{% if orders.has_previous %}
												<li class="page-item">
													<a class="page-link" href="?page={{orders.previous_page_number }}">
														Oldingi
													</a>
												</li>
											{% endif %}
											{% for num in orders.paginator.page_range %}
											{% if num == orders.number %}
											<li class="page-item active">
												<a class="page-link" href="#" tabindex="-1">{{ num }}</a>
											</li>
											{% elif num > orders.number|add:'-2' and num < orders.number|add:'2' %}
											<li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
											{% endif %}
											{% endfor %}
											{% if orders.has_next %}
											<li class="page-item">
												<a class="page-link" href="?page={{ orders.next_page_number }}">
													Keyingisi
												</a>
											</li>
											{% endif %}
										</ul>
									</nav>
								</div>
							{% endif %}
                        </div>
                    </div>
                </div>
                </div>
            </div>
      </div>
       <!-- End Row -->
{% endblock content %}